.circularBarplotViolent {

    /* The below is done so that the map can appear on a light gray card */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 40.8%;
      height: 0.5%;
      background-color:#171717;
      border-radius: 5px;
      float: left;
      padding: 0 10px;
    }