/* REFERENCES -  */

/*
1) W3schools.com. (2022). HTML header Tag. [online] 
   Available at: https://www.w3schools.com/tags/tag_header.asp
   
2) W3schools.com. (2022). How To Create Range Sliders. [online] 
   Available at: https://www.w3schools.com/howto/howto_js_rangeslider.asp
*/


body{

    /* The below is done to add a background color to the dashboard */
    background-color: #000000;
    margin: 0;
}

/* (W3schools.com, 2022) */
.header {

    /* The below is done to adjust and style the main page header */
    padding: 4px;
    text-align: center;
    background: #454545;
    color: white;
    font-size: 10px;
  }

  /* (W3schools.com, 2022) */
  .slidecontainer {
    width: 100%;
  }

  /* (W3schools.com, 2022) */
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 40%;
    height: 8px;
    background: #d3d3d3;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: 0.5s;
    transition: 0.5s;
  }
  
  /* (W3schools.com, 2022) */
  .slider:hover {
    opacity: 1;
  }
  
  /* (W3schools.com, 2022) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #B175FF;
    transition: 0.5s;
    cursor: pointer;
  }

  /* (W3schools.com, 2022) */
  .slider::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #B175FF;
    transition: 0.5s;
    cursor: pointer;
  }